{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'users/auth.css' %}">
{% endblock %}
{% block title %}
Login
{% endblock %}

{% block header %}
    <div class="header">
        <a class="header__link" href="{% url 'todo:home-view' %}">Home</a>
        <a class="header__link" href="{% url 'users:register-user' %}">Create</a>
    </div>
{% endblock %}

{% block content %}
    <ul class="messages">
        {% if errors %}
            {% for error in errors %}
            <li class="messages__paragraph" >{{error}}</li>
            {% endfor %}
        {% endif %}
    </ul>
    <form class="auth" method="POST">
        {% csrf_token %}
        <label class="auth__label" for="username_field">Username:</label>
        <input class="auth__input" type="text" name="username" id="username_field">
        <label class="auth__label" for="password_field">Password:</label>
        <input class="auth__input" type="password" name="password" id="password_field">
        <input class="auth__submit" type="submit" value="Login">
    </form>

{% endblock %}