.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header__link {
    font-size: 5.5rem;
}

.form {
    margin: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form__label {
    font-size: 3rem;
    color: white; 
}
.form__input {
    font-size: 3rem;
    color: white;
    background-color: rgba(0,0,0, 0.3);
    border: 3px solid white;
    border-radius: 12px;
    padding: 0.5rem 1rem;

}

.form__checkbox {
    width: 3rem;
    height: 3rem;
}

.from__submit {
    margin-top: 2rem;
    font-size: 3.5rem;
    padding: 0.7rem 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    border-radius: 12px;
    letter-spacing: 1px;
    transition: 0.2s;
}
